<!-- Promo.groups Section -->
<div class="w3-container w3-padding-32" id="promoCode">
	<h3 class="w3-center">CODE SAMPLES</h3>
	<p class="w3-center w3-large">Samples and Snippets</p>
	<div class="w3-row-padding w3-grayscale" style="margin-top:64px">
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Zekelhuter (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AWordpress_logo_8.png">
					<img style="padding-top: 24px; width: 128px" alt="Wordpress logo 8"
					     src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Wordpress_logo_8.png/256px-Wordpress_logo_8.png"/></a>
				<div class="w3-container">
					<h3>WordPress</h3>
					<p class="w3-opacity">General CMS</p>
					<p>Sample in WordPress</p>
					<p><button class="w3-btn-block">See More More</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By User:ZyMOS [MIT (http://opensource.org/licenses/mit-license.php)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3ARuby_on_Rails-logo.png">
					<img style="padding-top: 24px; width: 107px" alt="Ruby on Rails-logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png"/></a>
				<div class="w3-container">
					<h3>Rails</h3>
					<p class="w3-opacity">Full Stack Development</p>
					<p>Random CMS App.</p>
					<p><button class="w3-btn-block">Seymour</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Google (https://angular.io/presskit.html) [CC BY 4.0 (http://creativecommons.org/licenses/by/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3AAngular_full_color_logo.svg">
					<img style="padding-top: 24px; width: 127px" alt="Angular full color logo"
					     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/256px-Angular_full_color_logo.svg.png"/></a>
				<div class="w3-container">
					<h3>AngularJS</h3>
					<p class="w3-opacity">Simple.Thejorgelopez.com</p>
					<p>This site on AngularJS.</p>
					<p><button class="w3-btn-block">Seymour</button></p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
			<div class="w3-center w3-card-2">
				<a title="By Feustan (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"
				   href="https://commons.wikimedia.org/wiki/File%3ALogoIonic.png">
					<img style="padding-top: 24px; width: 114px" alt="LogoIonic"
					     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/LogoIonic.png/256px-LogoIonic.png"/></a>
				<div class="w3-container">
					<h3>Ionic</h3>
					<p class="w3-opacity">Hybrid Mobile App</p>
					<p>Random Mobile CMS.</p>
					<p><button class="w3-btn-block">Seymour</button></p>

				</div>
			</div>
		</div>
	</div>
</div>