<!-- About Section -->
<div class="w3-container w3-light-grey">
	<ul class="w3-navbar">
		<li><a href="javascript:void(0)" onclick="openCity('London')">Bio</a></li>
		<li><a href="javascript:void(0)" onclick="openCity('Paris')">Education</a></li>
		<li><a href="javascript:void(0)" onclick="openCity('Tokyo')">Contact</a></li>
	</ul>
</div>
<div class="w3-grayscale-min" id="bio" ui-view="about.bio"></div>
<div class="w3-grayscale-min" id="education" ui-view="about.education"></div>
<div class="w3-grayscale-min" id="contact" ui-view="about.contact"></div>
