<!-- About Section -->
<div class="w3-container w3-light-grey">
	<ul class="w3-navbar">
		<li><a ui-sref="about.bio">Bio</a></li>
		<li><a ui-sref="about.bio">Education</a></li>
		<li><a ui-sref="about.bio">Contact</a></li>
	</ul>
</div>
<div class="w3-grayscale-min" id="about-bio" ui-view="about.bio"></div>
<div class="w3-grayscale-min" id="about-edu" ui-view="about.edu"></div>
<div class="w3-grayscale-min" id="about-contact" ui-view="about.contact"></div>

<!-- About | Education Section here -->
<div id="bio" ui-view="bio"></div>

<!-- About | Education Section here -->
<div id="edu" ui-view="edu"></div>