<!-- Footer Section -->
<footer>
	<div class="w3-xlarge">
		<a href="#" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
		<a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
		<a href="#" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
		<a href="#" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
		<a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
		<a href="#home" class="w3-hover-text-red" title="Go to top"><i class="fa fa-arrow-up"></i></a>
	</div>
</footer>