<!-- Sidenav on small screens when clicking the menu icon -->
<nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidenav">
	<a href="javascript:void(0)" onclick="w3_close()" class="w3-large w3-padding-16">Close x</a>
	<a href="/projects">PROJECTS</a>
	<a href="#code">CODE</a>
	<a href="#resume">RESUME</a>
	<div class="w3-dropdown-hover">
		<a href="#">ABOUT JORGE<i class="fa fa-caret-down"></i></a>
		<div class="w3-dropdown-content w3-white w3-card-4">
			<a href="/about">Bio</a>
			<a href="#team">Education</a>
			<a href="#contact">Contact</a>
		</div>
	</div>
</nav>
