<!-- Promo Section -->
<ul class="w3-navbar">
	<li><a ui-sref="javascript:void(0)" onclick="openCity('London')">Projects & Work</a></li>
	<li><a href="javascript:void(0)" onclick="openCity('Paris')">Education</a></li>
	<li><a href="javascript:void(0)" onclick="openCity('Tokyo')">Skills</a></li>
	<li><a href="javascript:void(0)" onclick="openCity('Tokyo')">Resume</a></li>
</ul>
<div class="w3-row-padding">
	<div class="w3-col m6">
		<h3>We know design.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
		<p><a href="#work" class="w3-btn">View Our Works</a></p>
	</div>
	<div class="w3-col m6">
	</div>
</div>
<!-- Promo | Resume Section here -->
<div id="resume" ui-view="resume"></div>

<!-- Promo | Skills Section here -->
<div id="skills" ui-view="skills"></div>

<!-- Promo | Code Section here -->
<div id="code" ui-view="code"></div>

<!-- Promo | Projects Section here -->
<div id="projects" ui-view="projects"></div>

<div id="projects2" ui-view="main"></div>